<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>test</title>
	<link rel="stylesheet" href="/assets/css/index.css">
	<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
</head>
<body>
<nav class="center">
	<a href="/">MUSIC SNS!!!</a>
		<a href="/sign_up">新規登録</a>
</nav>
<main>

<section class="center-vertical">
	<h1>新規登録</h1>
	<form action="/signup" method="POST" enctype="multipart/form-data">
		<input type="text" name="name" placeholder="ユーザー名"> <br>
		<input type="password" name="password" placeholder="password"> <br>
		<input type="password" name="password" placeholder="confirm password"> <br>
		<input type="file" name="file"> <br>
		<input type="submit" value="新規登録">
	</form>
</section>
</main>

</body>
</html>